.b-date-of-birth {

	.b-date-of-birth__day {
		width: 48px;
		height: 40px;

		@media only screen and (max-width: @xsmallmobile) {
			width: auto;
		}

		@media only screen and (min-width: @tablet) and (max-width: @desktop) {
			width: 100%;
		}
	}

	.b-date-of-birth__month {
		width: 119px;
		height: 40px;

		@media only screen and (max-width: @xsmallmobile) {
			width: auto;
		}

		@media only screen and (min-width: @tablet) and (max-width: @desktop) {
			width: 100%;
		}
	}

	.b-date-of-birth__year {
		width: 63px;
		height: 40px;

		@media only screen and (max-width: @xsmallmobile) {
			width: auto;
		}

		@media only screen and (min-width: @tablet) and (max-width: @desktop) {
			width: 100%;
		}
	}

}